@page
@using AspNetCore.ReCaptcha;
@model ApplicationSecurityAssignment.Pages.HomeModel
@{
}
<div class="container mt-5">
	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-8">
			<h1 class="mb-3">My Profile </h1>
			<div class="mb-3 d-flex">
				<img id="imgPreview" class="rounded-circle mx-auto"
					 style="height:300px;width:300px;object-fit:cover"
					 src="@(string.IsNullOrEmpty(Model.PhotoURL) ?
"/uploads/user.png" : Model.PhotoURL)"
					 onerror="this.src='/uploads/user.png'" />
			</div>
			<form method="post" enctype="multipart/form-data">
				<div class="row">

					<div class="mb-3">
						<label class="form-label fw-bold" asp-for="FullName">Full Name:</label>
						<div>@Model.FullName</div>
					</div>

					<div class="mb-3">
						<label class="form-label fw-bold" asp-for="Email">Email Address:</label>
						<div>@Model.Email</div>
					</div>

					<div class="mb-3">
						<label class="form-label fw-bold" asp-for="Gender">Gender:</label>
						<div>@Model.Gender</div>
					</div>


					<div class="mb-3">
						<label class="form-label fw-bold" asp-for="PhoneNumber">Mobile Number:</label>
						<div>
							@Model.PhoneNumber
							@if (!Model.PhoneNumberConfirmed)
							{	
							<button type="submit" asp-route-provider="Phone" asp-page-handler="SendCode" class="btn btn-primary">Verify</button>
							}
						</div>
					</div>

					<div class="mb-3">
						<label class="form-label fw-bold" asp-for="DeliveryAddress">Delivery Address:</label>
						<div>@Model.DeliveryAddress</div>
					</div>

					<div class="mb-3">
						<label class="form-label fw-bold" asp-for="CreditCard">Credit Card:</label>
						<div>@Model.CreditCard</div>
					</div>

					<div class="mb-3">
						<label class="form-label fw-bold" asp-for="AboutMe">About Me:</label>
						<div>@Model.AboutMe</div>
					</div>

				</div>
			</form>
            <div class="d-flex col-4 justify-content-between">
				@if (!Model.Enabled2FA)
				{
					<form method="post">
						<button type="submit" asp-page-handler="Enable2FA" class="btn btn-primary">Enable 2FA</button>
					</form>
				} else
				{
					<form method="post">
						<button type="submit" asp-page-handler="Disable2FA" class="btn btn-primary">Disable 2FA</button>
					</form>
				}
			</div>

		</div>
	</div>
</div>